<div id="<%= dom_id item %>">
  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>
  <%= image_tag(item.thumbnail, width: "100") %>
  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>


  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

</div>
